body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background: #F5F5F5;
    padding: 0 5px;
}
p {
    font-family: Verdana, Geneva, sans-serif;
}
canvas {
    border: 2px solid #69ACE0;
}
.center {
    display: block;
    margin: 0 auto; padding: 20px;
    max-width: 450px;
}
.button-panel {
    background: #69ACE0;
    border: 3px solid #69ACE0;
    border-radius: 3px 3px 0 0;
    width: 135px;
    display: block;
}
.button-panel>input {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: medium;
    border:none;
    background: #69ACE0; color: #F5F5F5;
    width: 65px;
    padding: 0 0 2px 0;
}
.button-panel>input:hover {
    background: #2C73AB;
    cursor: pointer;
}
.warning {
    color: red;
}